@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


body {
  margin: 0;
  font-family: 'Josefin Sans', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
